*{
    font-family: sans-serif;
    margin: 0%;
}

#navbar {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#navbar a {
    text-decoration: none;
    color:black;
    font-weight: 200;
}

#navbar input {
    padding: 10px;
    width: 200px;
}

#navbar button {
    background-color: #E80071;
    color:white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

#Home {
    background-image: url(https://images-static.nykaa.com/uploads/9ff20482-b3a3-47a0-a77e-20a21ebed482.gif);
    width:100vw;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

#Home button {
    background-color: #E80071;
    color:white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
#homeh1 {
    padding: 1%;
    margin-left: 50%;
    color: white;
    text-shadow: 2px 3px 5px black;
}
#home button {
    margin-left: 60%; 
}
#about {
    display: flex;
    flex-direction: row;
}
#left h1 {
    padding: 30px;
}
#left h1 {
    color:#E80071;
    margin-top: 30px;
    margin-bottom: 30px;
}
#left button {
     margin-top: 30px;
    margin-bottom: 30px;
     background-color: white;
    color:#E80071;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 20px;
}
#left button:hover {
    background-color:#E80071;
    color: white;
}